# Ignore node_modules directory
node_modules/

# Ignore environment variables file (if you have one)
.env

# Ignore any logs or runtime data
logs/
*.log
npm-debug.log*

# Ignore local configuration files
config.js
